<div class="bug-bar">
        <% if user_signed_in? %>
          <div class="create-box">
            <%= link_to "Report Bug", new_bug_path %>
          </div>
        <% else %>
          <div><%= link_to "Sign in", new_user_session_path %> or <%= link_to "create account", new_user_registration_path%> to report bugs.</div>
        <% end %>
        <div class="sort-results">
          <form>
            <input type="hidden" id="search" name="search" value="true">
            <input type="text" id="word" name="word" data-controller="search" %><button>Search</button><br>
            <input type="radio" id="date" name="sort" value="newest" <% if (params[:sort] == "newest") %> checked <% end%>> 
            <label for="newest">newest first</label>
            <input type="radio" id="date" name="sort" value="oldest" <% if (params[:sort] == "oldest") %> checked <% end%>>
            <label for="oldest">oldest first</label>
            <input type="radio" id="urgency" name="sort" value="urgency" <% if (params[:sort] == "urgency") %> checked <% end%>>
            <label for="date">severity</label>
            <input type="radio" id="user" name="sort" value="user" <% if (params[:sort] == "user") %> checked <% end%>>
            <label for="date">user</label>
            <input type="radio" id="version" name="sort" value="version" <% if (params[:sort] == "version") %> checked <% end%>>
            <label for="date">version</label>
            <input type="checkbox" id="closed" name="closed" <% if (params[:closed] == "on") %> checked <% end%>>
            <label for="closed">show closed tickets</label>
          </form>
        </div>
      </div>
<div class="content">
  <% if @bugs.length == 0 %>
    <div class="table-holder">
    <br>
      <div style="color:red;">There are no tickets matching that criteria .</div>
    <br>
    </div>
  <% else %>
    <div class="table-holder">
      <table class="table">
        <tr>
          <th>Description</th>
          <th>Severity</th>
          <th>Version</th>
          <th>User</th>
          <th>Bug #</th>
        </tr>
        <% @bugs.each do |bug| %>
          <tr>
            <th><%= link_to "#{bug.description}", bug_path(bug.id) %></th>
            <th><%= "#{bug.severity}" %></th>
            <th><%= "#{bug.version}" %></th>
            <th><%= "#{bug.user.email}" %></th>
            <th class="bug-id"><%= link_to "#{bug.id}", bug_path(bug.id) %></th>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
