<div class="content">
  <% if @bugs.length == 0 %>
    No bugs reported yet.
  <% else %>
    <table>
      <tr>
        <th>Severity</th>
        <th>Description</th>
        <th>Version</th>
        <th>User</th>
        <th>Open</th>
      </tr>
      <% @bugs.each do |bug| %>
        <tr>
          <th><%= link_to "#{bug.severity}", bug_path(bug.id) %></th>
          <th><%= link_to "#{bug.description}", bug_path(bug.id) %></th>
          <th><%= link_to "#{bug.version}", bug_path(bug.id) %></th>
          <th><%= link_to "#{bug.user.email}", bug_path(bug.id) %></th>
          <th><%= link_to "#{bug.open}", bug_path(bug.id) %></th>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>