<div class="description">
  <h2>Description:</h2>
  <div class="info">
    <%= @bug.description %>
  </div>
  <h2>Steps:</h2>
  <div class="info">
    <%= @bug.steps %>
  </div>
  <h3>Version: <%= @bug.version%></h3> 
  <h4> Created by: </h4> 
  <div class="created-info">
    <%= @bug.user.email %> at <%= @bug.created_at.strftime("%Y-%m-%d %I:%M %p %Z") %>
    </div>
  <h4>Status:  </h4>
  <% if @bug.open == true %> 
    Open
  <% else %>
    Closed
  <% end %>
  <div class="comment-container"><h3>Comments:</h3></div>
  <div class="comments">
    <% @bug.comments.each do |comment| %>
      <div class="comment-container">
        <div class="comment-body"><%= comment.body %></div>
        <div class="comment-user">-<%= comment.user.email %> at <%= comment.created_at.strftime("%Y-%m-%d %I:%M %p %Z") %></div>
      </div>
      <br>
    <% end %>
  </div>
  <% if user_signed_in? %>
  Add comment:<br>
    <%= render "comments/new" %>
  <% else %>
    <div><%= link_to "Sign in", new_user_session_path %> or <%= link_to "create account", new_user_registration_path%> to comment.</div>
  <% end %>
</div>