<h1>Bug <%= @bug.id %></h1>
<br>
<h2>Description</h2>
<br>
<%= @bug.description %>
<br>
<br>
<h2>Steps:</h2>
<br>
<%= @bug.steps %>
<br>
<br>
<h3>Version: </h3> <%= @bug.version%> <h3> Created by: </h3> <%= @bug.user.email %> 
Bug is currently 
  <% if @bug.open == true %> 
    Open
  <% else %>
    Closed
<% end %> <br>
Submitted at: <%= @bug.created_at %>
<br>
<br>
Comments:<br>
<div class="comment">
  <% @bug.comments.each do |comment| %>
    <%= comment.user.email %> at <%= comment.created_at %>:<br>
    <%= comment.body %><br>
    <br>
  <% end %>
</div>
<br>
Add comment:<br>
  <%= render "comments/new" %>